autoenv==1.0.0
cairocffi==0.6
CairoSVG==1.0.9
cffi==0.8.6
click==6.7
cssselect==0.9.1
Django==1.7.5
docutils==0.14
ecdsa==0.11
Fabric==1.10.0
Flask-Script==2.0.5
html5lib==0.999
itsdangerous==0.24
Jinja2==2.9.5
lxml==3.4.1
MarkupSafe==0.23
mercurial==4.0.2
paramiko==1.15.1
pycparser==2.10
pycrypto==2.6.1
Pyphen==0.9.1
pysqlite==2.6.3
requests==2.7.0
selenium==2.44.0
six==1.8.0
stevedore==1.0.0
tinycss==0.3
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
WeasyPrint==0.23
Werkzeug==0.11.15
