{% extends "base.html" %}

{% block title %}Boek over M. de Jongere.{% endblock %}

{% block meta_description %}
Biografie van de havenschilder met compleet oeuvre.
{% endblock %}

{% block body_id %}boek{% endblock %}

{% block main %}
<section id="intro">
  <div class="row">
    <div class="offset-md-2 col-md-8 col-12">
      <h3>Wat weten we over M. de Jongere en zijn oeuvre?</h3>

      <p>In diverse overzichtswerken en op internet is informatie over de kunstschilder te vinden.
        Een algemeen bekend en geprezen boek is het Lexicon Nederlandse Beeldende Kunstenaars 1750-
        1950 van Pieter A. Scheen.</p>
      <p>Scheen stelt dat M. de Jongere ‘schildert, aquarelleert, tekent, etst en lithografeert in naturalistisch-
      impressionistische trant, landschap, havens en portretten’. Deze constatering is correct, maar bij de
      vermelde studiereizen naar België, Frankrijk, Zwitserland en Duitsland moeten de schrijvers van dit
        boek toch een vraagteken zetten.</p>
      <p>De Stichting tot exploitatie van het Rijksbureau voor Kunsthistorische Documentatie (RKD) neemt
      deze gegevens over en wekt in een geografisch overzicht de indruk, dat er sprake is van een grote
      doorgaande studiereis. Natuurlijk was de kunstenaar op de hoogte van inhoud van het Lexicon. Wat vond hij
        ervan?</p>

      <blockquote>
        <q>De beschikbare informatie bevat totaal geen onderbouwing of bronvermelding en roept veel vragen op.</q>
      </blockquote>

      <p>De informatie op internet over M. de Jongere bevat echter totaal geen onderbouwing of
      bronvermelding en roept veel vragen op. Zo zou hij meerdere schilderijen per dag afleveren. Hij zou zelfs
        een hele serie doeken in zijn atelier op een rijtje hebben staan, waar hij al schilderend langs liep.
        Was dit de werkwijze van de kunstschilder? Waar komt dat verhaal vandaan? Er zou dan toch iemand
        in het atelier geweest moeten zijn, die dat geconstateerd heeft. Wie was dat dan? Bood het atelier
        hier voldoende ruimte voor?</p>

      <h4>Zijn roem</h4>
      <p>Over zijn roem is ook van alles te lezen.
      Dat zijn roem niet beperkt bleef tot Nederland is een feit. Maar bestelde Onassis inderdaad 28
      doeken, waarop alle schepen van zijn vloot afgebeeld stonden? Was de Amerikaanse president
      Lyndon B. Johnson in de jaren 60 in zijn atelier geweest? Werden daar toen vijf Hollandse
      landschappen gekocht?</p>
      <p>En dan bezat de kunstenaar ook nog een huis in Zwitserland ! Was dat echt waar?
      Leidde het bezit van het huis inderdaad tot een aantal schilderijen met berglandschappen? Of was
      daar misschien een andere aanleiding voor?
      En waarom zou de kunstschilder midden in de bergen aan veel van zijn havengezichten werken? Had
      hij last van heimwee?</p>
      <p>Allemaal verhalen zonder enige onderbouwing of bronvermelding.</p>

      <h4>Antwoorden op de vragen</h4>
      <p>In dit boek worden het werk en de klantenkring van de kunstschilder uitgebreid besproken. Zo zullen er schetsen
        afgebeeld worden die het werkproces zichtbaar maken. Ook zijn <strong>zelf geschreven mini-biografie</strong>
        wordt gepubliceerd. U krijgt inzage in rekeningen aan klanten, enz.</p>
      <p>Het werk en de technieken zoals: olieverf, lithografie, ets en aquarel zullen leidend zijn. Meer hierover
      <a href="/technieken.html">op de pagina over technieken</a>.</p>
      <p>Het wordt een boek met veel, heel veel afbeeldingen van zijn werk. Niet alleen zijn bekende thema’s
      -havengezichten en landschappen- maar ook onbekende onderwerpen krijgen veel aandacht.
      M. de Jongere was een veelzijdig kunstschilder. In een apart hoofdstuk kunt u genieten van werken
      met verrassende onderwerpen, die hij op speciaal verzoek maakte. Ook wordt werk getoond waarin
        hij niet gebonden was aan opdrachtgevers.</p>
    </div>
  </div>
</section>
{% endblock %}