{% extends "base.html" %}

{% block meta_description %}
Binnenkort verschijnt het boek over de Rotterdamse havenschilder Marius de Jongere.
Blijf op de hoogte van het nieuws en werk mee aan deze publicatie.
{% endblock %}


{% block body_id %}index{% endblock %}

{% block header %}
<div class="notify">
  Vanaf 13 december 2019 in de boekhandel
</div>

<h1>
  Marius de Jongere<br>
  <small>Een Rotterdamse Kunstenaar</small>
</h1>



<a href="#intro" class="link-unstyled">
  <i class="fa fa-3x fa-chevron-down" aria-hidden="true"></i>
</a>

{% endblock %}

{% block main %}
<section id="intro">
  <div class="row">
    <div class="offset-md-2 col-md-8 col-12">
      <h3>Het boek over Marius de Jongere</h3>
      <p>
        Kunsthandelaar Arthur Erfmann heeft de zoon en dochter van de schilder in september 2017
        bereid gevonden mee te werken aan het boek over het werk van hun vader. Kunstschilder
        M. de Jongere verwierf in het midden van de vorige eeuw vooral bekendheid als
        Rotterdamse havenschilder. Naast havengezichten schilderde hij ook regelmatig landschappen.
        Af en toe kreeg hij een opdracht voor een totaal ander onderwerp, zoals: portret, bloemstuk,
        gebouw, genrestuk of vliegtuig. In het boek zullen <a href="/boek.html">enkele belangrijke vragen</a>
        over de persoon en het oeuvre worden beantwoord.
      </p>
      <p>
        Behalve olieverf schilderijen, maakte M. de Jongere ook vele etsen, litho's en aquarellen.
        In het boek zal aan de hand van die vier technieken een overzicht
        gegeven worden van de ontwikkeling van zijn werk. Het boek is vanaf 13 december 2019 verkrijgbaar.
      </p>
    </div>
  </div>
</section>

<figure>
  <img 
    src="{{ url_for('static', filename='img/kaft_voor.jpg') }}" 
    alt="Kaft voorzijde - Marius de Jongere" 
    class="kaft"
  >
  <figcaption>Voorzijde boek</figcaption>
</figure>

<figure>
  <img 
    src="{{ url_for('static', filename='img/kaft_achter.jpg') }}" 
    alt="Kaft achterzijde - Marius de Jongere" 
    class="kaft"
  >
  <figcaption>Achterzijde boek</figcaption>
</figure>

<section id="updates">
    <div class="row">
      <div class="offset-md-2 col-md-8 col-12">
        <h3>Updates</h3>
        <ul>
          <li>
            <a href="/pers.html#bericht-publicatie">
              persbericht 4 september 2019 - Medio december 2019 in de boekhandel
            </a>
          </li>
          <li>
            <a href="/pers.html#bericht-uitgever">
              persbericht 26 mei 2019 - Publicatie bij uitgeverij Scriptum
            </a>
          </li>
          <li>
            <a href="/pers.html#bericht-uitbreiding">
              persbericht 17 aug 2018 - Uitbreiding van ons team
            </a>
          </li>
        </ul>
        <p>
            <a href="/pers.html">Alle updates</a>
        </p>
      </div>
    </div>
  </section>
{% endblock %}



{% block bottom_script %}
<script>
// Fix faulty viewheight implementation in mobile webkit browsers
function calcVH() {
  var vH = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
  document.getElementsByTagName("header")[0].setAttribute("style", "height:" + vH + "px;");
}
calcVH();
window.addEventListener('onorientationchange', calcVH, true);
</script>
{% endblock %}