{% extends "base.html" %}

{% block meta_description %}
Binnenkort verschijnt het boek over de Rotterdamse havenschilder Marius de Jongere.
Blijf op de hoogte van het nieuws en werk mee aan deze publicatie.
{% endblock %}


{% block body_id %}index{% endblock %}

{% block header %}
<h1>
  M. de Jongere<br>
  <small>Rotterdamse havenschilder</small>
</h1>
<a href="#intro" class="link-unstyled">
  <i class="fa fa-3x fa-chevron-down" aria-hidden="true"></i>
</a>
{% endblock %}

{% block main %}
<section id="intro">
  <div class="row">
    <div class="offset-md-2 col-md-8 col-12">
      <h3>Het boek over Marius de Jongere</h3>
      <p>
        Kunsthandelaar Arthur Erfmann heeft de zoon en dochter van de schilder in september 2017
        bereid gevonden mee te werken aan het boek over het werk van hun vader. Kunstschilder
        M. de Jongere verwierf in het midden van de vorige eeuw vooral bekendheid als
        Rotterdamse havenschilder. Naast havengezichten schilderde hij ook regelmatig landschappen.
        Af en toe kreeg hij een opdracht voor een totaal ander onderwerp, zoals: portret, bloemstuk,
        gebouw, genrestuk of vliegtuig. In het boek zullen <a href="/boek.html">enkele belangrijke vragen</a>
        over de persoon en het oeuvre worden beantwoord.
      </p>
      <p>
        Behalve olieverf schilderijen, maakte M. de Jongere ook vele etsen, litho's en aquarellen.
        In het boek zal aan de hand van die <a href="/technieken.html">vier technieken</a> een overzicht
        gegeven worden van de ontwikkeling van zijn werk. Op dit moment zijn wij bezig met het hoofdstuk
        Lithografie. Het boek zal eind 2019 gereed zijn.
      </p>
    </div>
  </div>
</section>

<section id="contact">
  <div class="row">
    <div class="offset-md-2 col-md-8 col-12">
      <h3>Werk mee aan het boek</h3>
      <p>
        Wij zijn nog op zoek naar bijzondere onderwerpen en bijzondere havengezichten van Marius
        de Jongere. Als u denkt
        in het bezit te zijn van een dergelijk werk, dan bent u van harte welkom om dit ons te melden.
        Een selectie van deze bijzondere werken zal in het boek worden opgenomen.
      </p>
      <p>
        Neem hiertoe contact op met Arthur Erfmann:
      </p>
      <ul class="list-unstyled">
        <li>
          <i class="fa fa-fw fa-envelope mr-3" aria-hidden="true"></i>
          <a href="mailto:kunsthandelcolours@gmail.com" class="branded">kunsthandelcolours@gmail.com</a>
        </li>
        <li><i class="fa fa-fw fa-phone mr-3" aria-hidden="true"></i>010-2109885</li>
        <li><i class="fa fa-fw fa-mobile mr-3" aria-hidden="true"></i>06-37455355</li>
      </ul>
    </div>
  </div>
</section>

<section id="updates">
    <div class="row">
      <div class="offset-md-2 col-md-8 col-12">
        <h3>Updates</h3>
        <ul>
          <li>
            <a href="/pers.html#bericht-uitbreiding">
              persbericht 17 aug 2018 - Uitbreiding van ons team
            </a>
          </li>
          <li>
            <a href="/pers.html#bericht-reacties">
              persbericht 16 aug 2018 - Uw enthousiaste reacties
            </a>
        </li>
        </ul>
        <p>
            <a href="/pers.html">Alle updates</a>
        </p>
      </div>
    </div>
  </section>
{% endblock %}



{% block bottom_script %}
<script>
// Fix faulty viewheight implementation in mobile webkit browsers
function calcVH() {
  var vH = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
  document.getElementsByTagName("header")[0].setAttribute("style", "height:" + vH + "px;");
}
calcVH();
window.addEventListener('onorientationchange', calcVH, true);
</script>
{% endblock %}