{% extends "base.html" %}

{% block main %}
<section>
  <div class="row">
    <div class="offset-md-2 col-md-8 col-12">
      <h3>Bevestig uw inschrijving</h3>
      <p>
        Bedankt voor uw aanmelding. U ontvangt nu een e-mail met de vraag om uw
        e-mail adres te bevestigen. Pas als u dat gedaan heeft, zult u de nieuwsbrief
        ontvangen.
      </p>
      <p>
        Via de nieuwsbrief informeren wij u wanneer het boek over M. de Jongere
        uitgegeven zal worden. Tevens zullen we op de hoogte houden als er belangwekkende
        ontwikkelingen zijn met betrekking tot het boek over de schilder.
      </p>
      <h4>Afmelden</h4>
      <p>
        Het is te allen tijde mogelijk zich af te melden van de nieuwsbrief. In de e-mails
        zal een link opgenomen zijn om af te melden. U kunt terug naar de <a href="/">homepage</a>.
      </p>
    </div>
  </div>
</section>
{% endblock %}

{# Footer without the newsletter signup - this makes no sense here #}
{% block footer %}
<footer class="container-fuid text-center">
  <p class="small pt-4 pb-3 mb-0">
    Copyright &copy; 2017 | Alle rechten voorbehouden.
  </p>
</footer>
{% endblock %}