{% extends "base.html" %}

{% block title %}Artikelen, nieuws en persberichten.{% endblock %}

{% block meta_description %}
Artikelen in periodieken en dagbladen en persberichten over Marius de Jongere en dit boek.
{% endblock %}

{% block body_id %}pers{% endblock %}

{% block main %}
<section id="publicaties">
  <div class="row">
    <div class="offset-md-2 col-md-8 col-12">
      <h3>Publicaties en persberichten</h3>
      <p>
        Dit is een overzicht van de persberichten en artikelen met betrekking tot
        M. de Jongere en het aanstaande boek. Voor meer informatie en interviews
        kunt u contact opnemen met Arthur Erfmann:
      </p>
      <ul class="list-unstyled">
        <li>
          <i class="fa fa-fw fa-envelope mr-3" aria-hidden="true"></i>
          <a href="mailto:kunsthandelcolours@gmail.com" class="branded">kunsthandelcolours@gmail.com</a>
        </li>
        <li><i class="fa fa-fw fa-phone mr-3" aria-hidden="true"></i>010-2109885</li>
        <li><i class="fa fa-fw fa-mobile mr-3" aria-hidden="true"></i>06-37455355</li>
      </ul>
    </div>
  </div>
</section>
<section id="artikel-bouwplaats" class="artikel">
  <div class="row">
    <div class="offset-md-2 col-md-8 col-12">
      <hr>
      <h3>Bouwplaats</h3>
      <ul>
        <li><strong class="pr-2">bron:</strong>AD / Rotterdams Dagblad</li>
        <li><strong class="pr-2">auteur(s):</strong>Wendy Remmerswaal en Marcel Potters</li>
        <li><strong class="pr-2">gepubliceerd:</strong>30 april 2016</li>
      </ul>
      <hr>
      <figure>
        <img src="{{ url_for('static', filename='img/artikel_bouwput.jpg') }}" alt="bouwput bijenkorf - M. de Jongere" width="100%">
        <figcaption>Bouwplaats Bijenkorf te Rotterdam - M. de Jongere</figcaption>
      </figure>
      <p>
        Op het kantoor van Aannemingsbedrijf J. Bruins en Zoon werd de vergadering in de jaren ’70 en
        ’80 weleens stilgelegd. De reden? Het schilderij van Marius de Jongere, die boven de vergadertafel in
        het kantoor van directeur Bruins hing. Deze laatste riep dan tegen zijn hoofdad- ministrateur:
        ‘Piet, ik heb nu 28 arbeiders op het schilderij geteld’. Maar een poos later telde hij er weer 29.
      </p>

      <p>
        Het is dan ook niet verwonderlijk dat er allerlei belletjes gingen rinkelen bij brief- schrijver Piet
        van de Graaf uit Heerjansdam toen hij het schilderij op deze pagina zag. ,,Dit is de bouwput van de Bijenkorf
        aan de Coolsingel te Rotterdam,’’ schrijft hij. ,,Ik weet weinig van de gebouwen op de achtergrond, maar
        veel meer van het schilderij zelf. Het heeft tot eind 1999 gehangen in het directiekantoor van
        aannemingsbedrijf J. Bruins en Zoon aan de Anthony Fokkerweg in Rotterdam-Zuid, op de eerste verdieping.
        Ik werkte daar als hoofdadministrateur van 1973 tot eind 1999. De directeur en eigenaar sprak ik
        veelvuldig in zijn kantoor. Het was moeilijk de mannetjes te tellen omdat het een heel gedetailleerd
        schilderij is. In ’93 kocht ik het bedrijf met collega Piet Onderdelinden. In 1999 hebben we het vervolgens
        verkocht aan Van Eck Beheermaatschappij BV en raakte ik het schilderij uit het oog.’’
      </p>
      <p>
        Hoe het schilderij ooit in de directiekamer kwam te hangen, weet Anita Bruins, dochter van de directeur,
        ons te vertellen: ,,De aannemer destijds, Voormolen, was niet geïnteresseerd in het schilderij. Zodoende
        is het terechtgekomen bij de Firma Koch op de Lijnbaan en daar kwam mijn opa, Jacob Bruins, het schilderij
        tegen. Hij heeft het gekocht.
      </p>

      <h4>Bouwput</h4>
      <p>
        Het werk is bijzonder want De Jongere (1912-1977), echte naam Marius Drulman, schilderde doorgaans vooral
        havengezichten. Totdat hij zich in ’55 met zijn schildersezel voor de verandering naast deze bouwput
        settelde. ,,Hij ziet de in aanbouw zijnde betonnen kelderfundatie van het nieuwe winkelmagazijn De Bijenkorf,’’
        schrijft Schiedammer Carl van Woerkom, die goed naar het schilderij heeft gekeken. ,,Op de achtergrond de
        achterzijde van de nieuwe winkelgalerij aan de Lijnbaan van 1951. Boven deze winkels zijn nog net de
        twee koepeltorentjes van de Paradijskerk aan de Nieuwe Binnenweg te zien. Het grote pand op de achtergrond
        moet de achterzijde zijn van het nieuwe winkelcentrum van Ter Meulen.
      </p>
      <p>
        Onze briefschrijver weet zelfs iets over de machines te vertellen: ,,Voor het grote gebouw zijn
        stoomheimachines druk in de weer voor de verdere bebouwing als uitloper van de Lijnbaan naar de Binnenweg.
        De heimachines werken volgens het bekende ‘vibrosysteem’ van de firma Nederhorst uit Gouda. Op de plaats van
        de dragline kraan komt nu de Koopgoot naar boven. Ook heeft de schilder links op het paneel nog wat
        geschilderd van de zijgevel van het voormalige Rotterdamse Bankgebouw (nu met de Donnerwinkel), en ook
        een stukje van de oude gemetselde schoorsteen van het voormalige Coolsingelziekenhuis. De schilder staat
        ongeveer op de plek waar nu het stalen kunstwerk van Naum Gabo staat voor de Bijenkorf.
      </p>

      <h4>Borduurlapjes</h4>

      <p>
      De grote vraag is natuurlijk hoe het is afgelopen met het schilderij. Daar weet Claudia van Eck meer over.
        ,,Wij kochten in 1999 het bedrijf J. Bruins en Zoon van Piet Onderdelinden en Piet van de Graaf. Inclusief
        alle inboedel. Die zag eruit alsof je Toen was geluk heel gewoon kwam binnenlopen. Borduurlapjes en bruine
        tafels en stoelen, en dit schilderij. Na de overname zeiden de verkopers dat het schilderij er eigenlijk niet
        bijhoorde, omdat dat wel wat waard zou zijn. We hadden veel geld voor het bedrijf betaald en zeiden voor de
        grap: ‘We hebben de borduurlapjes moeten overnemen dus het schilderij zit er ook bij.’ Het staat nu al jaren
        in het archief van ons nieuwe bedrijf, gevestigd in Waddinxveen.
      </p>
      <p>
        [...]
      </p>
      <hr>
    </div>
  </div>
</section>
{% endblock %}