{% extends "base.html" %}

{% block title %}Gebruikte technieken M. de Jongere.{% endblock %}

{% block meta_description %}
De technieken van etsen, lithografie, olieverf schilderij en aquarel zullen in de
  verschillende hoofdstukken worden beschreven.
{% endblock %}

{% block body_id %}technieken{% endblock %}

{% block main %}
<section id="technieken">
  <div class="row">
    <div class="offset-md-2 col-md-8 col-12">
      <h3>Technieken in het boek</h3>
      <p>
        Het boek zal worden georganiseerd aan de hand de technieken waarmee M. de Jongere heeft
        gewerkt. In elk van de hoofdstukken zullen de verschillende werken uitgebreid aan bod komen.
      </p>
      <ul>
        <li><a href="#lithografie">lithografie</a></li>
        <li><a href="#aquarel">aquarel / gouache</a></li>
        <li><a href="#ets">ets techniek</a></li>
        <li><a href="#olieverf">olieverf schilderijen</a></li>
      </ul>
      <p>
        Neem s.v.p. <a href="/contact.html">contact met ons op</a> als u een bijzonder werk bezit
        voor publicatie in dit overzichtswerk.
      </p>
    </div>
  </div>
</section>

<section id="lithografie">
  <div class="row">
    <div class="offset-md-2 col-md-8 col-12">
      <h3>Lithografie</h3>
      <p class="additional">
        Lithografie is een reproductietechniek die gebruik maakt van het vet in het tekenmateriaal en in de drukinkt.
        Kalksteen wordt voorzien van een beeld, dat met behulp van arabische gom gefixeerd wordt. Met een pers wordt
        de geïnkte tekening overgebracht op papier. (<a href="https://nl.wikipedia.org/wiki/Lithografie"
        target="_blank">wikipedia</a>)
      </p>
      <p class="additional">
        Lithografie in de handen van een kunstenaar kan zeer gedetailleerde nuances tonen.
      </p>
      <figure>
      <img src="{{ url_for('static', filename='img/techniek_litho.jpg') }}" alt="Lithografie - M. de Jongere" width="100%">
        <figcaption>Litho van een Hollands polderlandschap</figcaption>
      </figure>
      <p>
        Wij hebben ervoor gekozen om met dit hoofdstuk te beginnen, omdat het lithografische werk een
        overzichtelijk oeuvre is wat betreft de omvang en de jaren waarin het gemaakt is.
      </p>
      <p>
        Er komt  een volledig overzicht van alle lithografische kleurendrukken, met jaartal en locatie.
        Zo kunnen bezitters van een  lithografisch werk precies nagaan waar en wanneer hun werk gemaakt is.
        We verwachten dit hoofdstuk aan het eind van 2017 af te ronden.
      </p>
    </div>
  </div>
</section>

<section id="aquarel">
  <div class="row">
    <div class="offset-md-2 col-md-8 col-12">
      <h3>Aquarel en gouache</h3>
      <p class="additional">
        Karakteristiek voor de zuivere <a href="https://nl.wikipedia.org/wiki/Aquarel" target="_blank">aquareltechniek</a>
        is dat het kleurende pigment in een niet-gesloten laag wordt aangebracht, zodat het papier erdoorheen schemert.
        Bij <a href="https://nl.wikipedia.org/wiki/Gouache" target="_blank">gouache</a> wordt er met dekkende waterverf gewerkt.
      </p>
      <figure>
        <img src="{{ url_for('static', filename='img/techniek_aquarel.jpg') }}" alt="Aquarel - M. de Jongere" width="100%">
        <figcaption>Aquarel van de Rotterdamse Rijnhaven, 1946</figcaption>
      </figure>
      <p>
        Planning: eerste helft 2018.
      </p>
    </div>
  </div>
</section>

<section id="ets">
  <div class="row">
    <div class="offset-md-2 col-md-8 col-12">
      <h3>Etstechniek</h3>
      <p class="additional">
        Een ets is een afbeelding gemaakt in diepdruktechniek van een koperen of zinken plaat waarin de
        afbeelding door zuur geëtst is. De etser brengt met een etsnaald de afbeelding (lijnets) in
        spiegelbeeld in de afdeklaag aan van de metalen plaat aan. (<a href="https://nl.wikipedia.org/wiki/Ets">
        wikipedia</a>)
      </p>
      <figure>
      <img src="{{ url_for('static', filename='img/techniek_ets.jpg') }}" alt="Ets - M. de Jongere" width="100%">
        <figcaption>Detail van ets Hillegondakerk te Hillegersberg</figcaption>
      </figure>
      <p>Planning: tweede helft 2018</p>
    </div>
  </div>
</section>

<section id="olieverf">
  <div class="row">
    <div class="offset-md-2 col-md-8 col-12">
      <h3>Olieverf</h3>
      <p class="additional">
        Olieverf is een emulsie van pigment met een plantaardige drogende olie. Het kan in dunne gladde lagen worden
        aangebracht, of er kunnen sterke effecten bereikt worden door de verf met volume te verwerken,
        zodat de verfstreken zichtbaar blijven. (<a href="https://nl.wikipedia.org/wiki/Olieverf" target="_blank">wikipedia</a>)
      </p>
      <figure>
        <img src="{{ url_for('static', filename='img/techniek_olieverf.jpg') }}" alt="Olieverf schilderij - M. de Jongere" width="100%">
        <figcaption>Detail van zeegezicht met zeilschip</figcaption>
      </figure>
        <p>Planning: eerste helft 2019</p>
    </div>
  </div>
</section>
{% endblock %}