{% extends "base.html" %}

{% block title %}Werken van M. de Jongere.{% endblock %}

{% block meta_description %}
Een overzicht van de werken die ingezonden zijn voor publicatie in het boek over M. de Jongere.
{% endblock %}

{% block body_id %}werken{% endblock %}

{% block main %}
<section id="werken">
  <div class="row">
    <div class="offset-md-2 col-md-8 col-12">
      <p>
        Hieronder een kleine selectie van bijzondere werken die mogelijk gebruikt zullen worden voor publicatie.
      </p>
      <figure>
        <img src="{{ url_for('static', filename='img/werk_driemaster_haven.jpg') }}"
             alt="Driemaster - M. de Jongere" width="100%">
        <figcaption>Driemaster in de haven</figcaption>
      </figure>
      <figure>
        <img src="{{ url_for('static', filename='img/werk_molen.jpg') }}"
             alt="Molen - M. de Jongere" width="100%">
        <figcaption>Watermolen bij een veenplas</figcaption>
      </figure>
      <figure>
        <img src="{{ url_for('static', filename='img/werk_straat.jpg') }}"
             alt="Straat - M. de Jongere" width="100%">
        <figcaption>Straatscene</figcaption>
      </figure>
      <figure>
        <img src="{{ url_for('static', filename='img/werk_zeegezicht.jpg') }}"
             alt="Zeegezicht - M. de Jongere" width="100%">
        <figcaption>Zeegezicht</figcaption>
      </figure>
      <figure>
        <img src="{{ url_for('static', filename='img/werk_vogelvlucht.jpg') }}"
             alt="Driemaster - M. de Jongere" width="100%">
        <figcaption>Dorp in vogelvlucht perspectief</figcaption>
      </figure>
    </div>
  </div>
</section>
{% endblock %}